/* 
    Document   : myapp
    Created on : 09-sep-2013, 16:43:55
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.iconlist
{
    margin: 10px;
    display: inline;
    position: relative;
}

