/* 
    Document   : myapp
    Created on : 09-sep-2013, 16:43:55
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.iconlist
{
    margin: 10px;
    display: inline;
    position: relative;
}
#map_canvas
{
    position: fixed;
    top:10px;
    left: 20px;
    right: 20px;
    min-width: 180px;
    max-width: 400px;
    min-height: 180px;
    height: 280px;
    max-height: 400px;
}
.ui-icon-myapp-order {
    background-image: url("../images/order_icon.png");
}

